P3. Structure/statis.dtd

<?xml version="1.0" encoding="utf-8" ?>

<!ELEMENT ip (#PCDATA) >
<!ATTLIST ip
	addr CDATA #REQUIRED
	frequency CDATA #IMPLIED>

<!ELEMENT os (#PCDATA) >
<!ATTLIST os
	title CDATA #REQUIRED
	frequency CDATA #IMPLIED>

<!ELEMENT mobile (#PCDATA) >
<!ATTLIST mobile
	title CDATA #REQUIRED
	frequency CDATA #IMPLIED>

<!ELEMENT list (ip | os | mobile)* >

<!ELEMENT ips (ip+) >

<!ELEMENT h (#PCDATA) >

<!ELEMENT statistics ANY >
